/* ============ BASE ============ */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}

body {
  margin: 0;
  padding: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-height: 100vh;

  font-family: 'bebas neue', sans-serif;
  color: rgba(255, 215, 0, 0.7);

  background-image: url("./imagenes/fondoLanding_cut.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

img {
  user-select: none;
  pointer-events: none;
}

/* ============ RULETA ============ */
.ruleta-container {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 5;
}

.ruleta {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 8px solid gold;
  transition: transform 4s cubic-bezier(0.33, 1, 0.68, 1);
  background: conic-gradient(
    #B3001B 0deg 30deg,
    #111111 30deg 60deg,
    #B3001B 60deg 90deg,
    #0C6A33  90deg 120deg,
    #B3001B 120deg 150deg,
    #111111 150deg 180deg,
    #B3001B 180deg 210deg,
    #0C6A33 210deg 240deg,
    #B3001B 240deg 270deg,
    #111111 270deg 300deg,
    #B3001B 300deg 330deg,
    #0C6A33 330deg 360deg
  );
}

/* Flecha fija arriba */
.flecha {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 55px solid gold;
  z-index: 6;
}

/* Texto dentro de la ruleta */
.sector-label {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 6;
  font-size: 18px;
  font-weight: 700;
  pointer-events: none;
  color: rgba(255, 215, 0, 0.7);
  text-shadow: 0 0 4px black;

  transform-origin: center;
}

/* ============ BOTONES ============ */
button {
  font-family: 'Bebas Neue';
  z-index: 6;
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 1.5rem;
  color: #000;
  background: linear-gradient(90deg, #ffd700, #ffb300);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.7);
  transition: background 0.3s;
}

button:hover {
  background: red;
  color: black !important;
  
}

.btn.bono {
  font-size: 1.2rem;
  padding: 18px;
  max-width: 350px;
  z-index: 6;
}
.btn.bono:hover {
  background: greenyellow;
  color:black;
}
/* ============  TÍTULO NEÓN  ============ */

.titulos {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  color: #6100bb;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;

  text-shadow:
    0 0 5px #fff6c2,
    0 0 10px #ffec80,
    0 0 20px #ffcc00,
    0 0 40px #ff9900,
    0 0 80px #ff6600;

  opacity: 0;
  transform: scale(0.8);

  animation:
    encendido 2s ease-out forwards,
    parpadeo 2s infinite alternate 2s;
}


/* ANIMACIONES */
@keyframes encendido {
  0% { opacity: 0; transform: scale(0.8); }
  60% { opacity: 1; transform: scale(1.05); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes parpadeo {
  from {}
  to {}
}




/* ============ PERROS ============ */

* {
  box-sizing: border-box;
}

.perros-deco {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;        /* DETRÁS DE TODO */
  pointer-events: none;
  overflow: hidden;
  inset:0;
}


.perro {
  position: absolute;
  width: 330px;
  transform: translateY(-50%);
  opacity: 1;
  pointer-events: none;
}

/* Izquierda */
.perro-left {
  top: 51%;
  left: 0;
}

/* Derecha */
.perro-right {
  top: 55%;
  right: 0;
}

/* ============ BOTON DE WHATSAPP BRILLANTE  ============ */

 .whatsapp-float {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: #25d366;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 20px rgba(37, 211, 102, 0.6);
      z-index: 3;
      animation: pulse 2s infinite;
      text-decoration: none;
    }

    .whatsapp-float img {
      width: 34px;
      height: 34px;
    }

    @keyframes pulse {
      0% { transform: scale(1); box-shadow: 0 0 15px rgba(37, 211, 102, 0.6); }
      50% { transform: scale(1.1); box-shadow: 0 0 25px rgba(37, 211, 102, 0.9); }
      100% { transform: scale(1); box-shadow: 0 0 15px rgba(37, 211, 102, 0.6); }
    }

    @media (min-width: 768px) {
      h1 { font-size: 2.8rem; }
      p { font-size: 1.1rem; }
      .btn { font-size: 1.3rem; }
    }



/* ============ RESPONSIVE ============ */

/* TABLET */
@media (max-width: 900px) {
  .ruleta-container {
    width: 240px;
    height: 240px;
  }
  .sector-label {
    font-size: 16px;
  }
  .perro {
    width: 250px;
  }
}

/* CELULAR */
@media (max-width: 600px) {

  body {
    justify-content: flex-start;
    background-position: center top;
  }
    .ruleta {
    border: 6px solid #d4af37;  
  }
  .flecha {
   color: 6px solid#d4af37;
   z-index: 5;
  }
  .ruleta-container {
    width: 210px;
    height: 210px;
  }

  .sector-label {
    font-size: 13px;
    color:whitesmoke !important;           
  text-shadow: 0 0 5px black;
  }

  .perro {
    width: 140px;
    bottom: 20px;
    top: auto;
  }
   .perro-left {
    top: calc(55% - 7px);
  }
  .btn.bono {
    margin-top: 65px;
  }

}